/1_A_Long-expected_Party.txt
/1_A_Long-expected_Party.xlsx
/2_The_Shadow_of_the_Past.txt
/2_The_Shadow_of_the_Past.xlsx
/3_Three_is_Company.txt
/3_Three_is_Company.xlsx
/4_A_Short_Cut_to_Mushrooms.txt
/4_A_Short_Cut_to_Mushrooms.xlsx
/5_A_Conspiracy_Unmasked.txt
/5_A_Conspiracy_Unmasked.xlsx
/6_The_Old_Forest.txt
/6_The_Old_Forest.xlsx
/7_In_the_House_of_Tom_Bombadil.txt
/7_In_the_House_of_Tom_Bombadil.xlsx
/8_Fog_on_the_Barrow-downs.txt
/8_Fog_on_the_Barrow-downs.xlsx
/9_At_the_Sign_of_The_Prancing_Pony.txt
/9_At_the_Sign_of_The_Prancing_Pony.xlsx
/10_Strider.txt
/10_Strider.xlsx
/11_A_Knife_in_the_Dark.txt
/11_A_Knife_in_the_Dark.xlsx
/12_Flight_to_the_Ford.txt
/12_Flight_to_the_Ford.xlsx
/13_Many_Meetings.txt
/13_Many_Meetings.xlsx
/14_The_Council_of_Elrond.txt
/14_The_Council_of_Elrond.xlsx
/15_The_Ring_Goes_South.txt
/15_The_Ring_Goes_South.xlsx
/16_A_Journey_in_the_Dark.txt
/16_A_Journey_in_the_Dark.xlsx
/17_The_Bridge_of_Khazad-dum.txt
/17_The_Bridge_of_Khazad-dum.xlsx
/18_Lothlorien.txt
/18_Lothlorien.xlsx
/19_The_Mirror_of_Galadriel.txt
/19_The_Mirror_of_Galadriel.xlsx
/20_Farewell_to_Lorien.txt
/20_Farewell_to_Lorien.xlsx
/21_The_Great_River.txt
/21_The_Great_River.xlsx
/22_The_Breaking_of_the_Fellowship.txt
/22_The_Breaking_of_the_Fellowship.xlsx
/csv/Full_dataset_labeled_sorted.csv
/csv/Sample_Fellowship_Dataset.csv
/csv/Full_Fellowship_Dataset.csv
